<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.gavin.cloud.sys.core.mapper.ext.PermissionExtMapper">

    <resultMap id="BaseResultMap" type="com.gavin.cloud.sys.pojo.Permission">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="code" property="code" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="VARCHAR"/>
        <result column="icon" property="icon" jdbcType="VARCHAR"/>
        <result column="url" property="url" jdbcType="VARCHAR"/>
        <result column="seq" property="seq" jdbcType="INTEGER"/>
        <result column="is_parent" property="isParent" jdbcType="BIT"/>
        <result column="parent_id" property="parentId" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        a.id, a.code, a.`name`, a.`type`, a.icon, a.url, a.seq, a.is_parent, a.parent_id
    </sql>

    <select id="getMenus" parameterType="string" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
          FROM sys_permission a
         WHERE type = 'MENU'
           AND a.id IN (
            SELECT b.permission_id
              FROM sys_role_permission b
             WHERE b.role_id IN (
               SELECT c.role_id
                 FROM sys_user_role c
                WHERE c.user_id = #{id}
             )
           )
    </select>

    <select id="getFuncs" parameterType="string" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
          FROM sys_permission a
         WHERE type = 'FUNC'
           AND a.id IN (
            SELECT b.permission_id
              FROM sys_role_permission b
             WHERE b.role_id IN (
               SELECT c.role_id
                 FROM sys_user_role c
                WHERE c.user_id = #{id}
             )
           )
    </select>

    <select id="getById" parameterType="string" resultType="com.gavin.cloud.sys.pojo.vo.PermissionVO">
        SELECT <include refid="Base_Column_List"/>, b.name AS parentName
          FROM sys_permission a LEFT JOIN sys_permission b
            ON a.parent_id = b.id
         WHERE a.id = #{id}
    </select>

</mapper>
