<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.gavin.cloud.sys.core.mapper.ext.RoleExtMapper">

    <resultMap id="BaseResultMap" type="com.gavin.cloud.sys.pojo.Role"
               extends="com.gavin.cloud.sys.core.mapper.RoleMapper.BaseResultMap"/>

    <sql id="Base_Column_List">
        <include refid="com.gavin.cloud.sys.core.mapper.RoleMapper.Base_Column_List"/>
    </sql>

    <select id="getList" parameterType="map" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
          FROM sys_role
          <where>
              <if test="id!=null">
                  AND id = #{id}
              </if>
              <if test="code!=null and code!=''">
                  AND code = #{code}
              </if>
              <if test="name!=null and name!=''">
                  <if test="_databaseId == 'mysql'">
                      AND name LIKE CONCAT('%',#{name},'%')
                  </if>
                  <if test="_databaseId == 'oracle'">
                      AND name LIKE '%'||#{name}||'%'
                  </if>
              </if>
          </where>
    </select>

    <select id="getPage" parameterType="com.gavin.cloud.common.base.page.Pageable" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
          FROM sys_role
          <where>
              <if test="param!=null">
                  <if test="param.code!=null and param.code!=''">
                      AND code = #{param.code}
                  </if>
                  <if test="param.name!=null and param.name!=''">
                      <if test="_databaseId == 'mysql'">
                          AND name LIKE CONCAT('%',#{param.name},'%')
                      </if>
                      <if test="_databaseId == 'oracle'">
                          AND name LIKE '%'||#{param.name}||'%'
                      </if>
                  </if>
              </if>
          </where>
    </select>

    <select id="getByUserId" parameterType="string" resultMap="BaseResultMap">
        SELECT a.id, a.code, a.`name`, a.remark
          FROM sys_role a JOIN sys_user_role b ON a.id = b.role_id
         WHERE b.user_id = #{userId}
    </select>

</mapper>
