<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.gavin.cloud.sys.core.mapper.ext.UserExtMapper">

    <resultMap id="BaseResultMap" type="com.gavin.cloud.sys.pojo.User">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="nickname" jdbcType="VARCHAR" property="nickname"/>
        <result column="salt" jdbcType="VARCHAR" property="salt"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="avatar" jdbcType="VARCHAR" property="avatar"/>
        <result column="lang_key" jdbcType="VARCHAR" property="langKey"/>
        <result column="activated" jdbcType="BIT" property="activated"/>
        <result column="activation_key" jdbcType="VARCHAR" property="activationKey"/>
        <result column="reset_key" jdbcType="VARCHAR" property="resetKey"/>
        <result column="reset_date" jdbcType="TIMESTAMP" property="resetDate"/>
        <result column="created_by" jdbcType="VARCHAR" property="createdBy"/>
        <result column="created_at" jdbcType="TIMESTAMP" property="createdAt"/>
        <result column="updated_by" jdbcType="VARCHAR" property="updatedBy"/>
        <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, username, `password`, nickname, salt, phone, email, avatar, lang_key, activated,
        activation_key, reset_key, reset_date, created_by, created_at, updated_by, updated_at
    </sql>

    <select id="getList" parameterType="map" resultMap="BaseResultMap" databaseId="mysql">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sys_user
        <where>
            <if test="id!=null">
                AND id = #{id}
            </if>
            <if test="username!=null and username!=''">
                AND username = #{username}
            </if>
            <if test="nickname!=null and nickname!=''">
                AND nickname LIKE CONCAT('%',#{nickname},'%')
            </if>
        </where>
    </select>

    <select id="getPage" parameterType="com.gavin.cloud.common.base.page.Pageable" resultMap="BaseResultMap" databaseId="mysql">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sys_user
        <where>
            <if test="param!=null">
                <if test="param.username!=null and param.username!=''">
                    AND username = #{param.username}
                </if>
                <if test="param.nickname!=null and param.nickname!=''">
                    AND nickname LIKE CONCAT('%',#{param.nickname},'%')
                </if>
                <if test="param.createStartDate!=null and param.createStartDate!=''">
                    AND DATE(created_date) >= DATE(#{param.createStartDate})
                </if>
                <if test="param.createEndDate!=null and param.createEndDate!=''">
                    <![CDATA[ AND DATE(created_date) <= DATE(#{param.createEndDate}) ]]>
                </if>
                <if test="param.modifyStartDate!=null and param.modifyStartDate!=''">
                    AND DATE(last_modified_date) >= DATE(#{param.modifyStartDate})
                </if>
                <if test="param.modifyEndDate!=null and param.modifyEndDate!=''">
                    <![CDATA[ AND DATE(last_modified_date) <= DATE(#{param.modifyEndDate}) ]]>
                </if>
            </if>
        </where>
    </select>

</mapper>
