<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration PUBLIC
        "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>

    <!--<properties resource="${mybatis-generator.properties}"/>-->

    <context id="MysqlTables" targetRuntime="MyBatis3" defaultModelType="flat">

        <property name="javaFileEncoding" value="UTF-8"/>
        <property name="javaFormatter" value="org.mybatis.generator.api.dom.DefaultJavaFormatter"/>
        <property name="xmlFormatter" value="org.mybatis.generator.api.dom.DefaultXmlFormatter"/>
        <!-- 数据库关键字转义 -->
        <property name="autoDelimitKeywords" value="true"/>
        <property name="beginningDelimiter" value='`'/>
        <property name="endingDelimiter" value='`'/>

        <plugin type="org.mybatis.generator.plugins.SerializablePlugin"/>
        <!-- 该插件用来在XxxExample类中生成大小写敏感的LIKE方法 -->
        <plugin type="org.mybatis.generator.plugins.CaseInsensitiveLikePlugin"/>
        <!-- 该插件用来自动覆盖Mapper.xml文件 -->
        <plugin type="org.mybatis.generator.plugins.UnmergeableXmlMappersPlugin"/>
        <!--
        <plugin type="org.mybatis.generator.plugins.EqualsHashCodePlugin"/>
        <plugin type="org.mybatis.generator.plugins.ToStringPlugin"/>
        <plugin type="org.mybatis.generator.plugins.MapperAnnotationPlugin"/>
        <plugin type="org.mybatis.generator.plugins.FluentBuilderMethodsPlugin"/>
        <plugin type="org.mybatis.generator.plugins.RenameExampleClassPlugin">
            <property name="searchString" value="Example$"/>
            <property name="replaceString" value="Criteria"/>
        </plugin>
        -->
        <plugin type="com.softwareloop.mybatis.generator.plugins.LombokPlugin"/>

        <!-- 是否去除自动生成的注释 -->
        <commentGenerator>
            <property name="suppressAllComments" value="true"/>
        </commentGenerator>

        <!-- 数据库连接的信息 -->
        <jdbcConnection driverClass="com.mysql.jdbc.Driver"
                        connectionURL="jdbc:mysql://localhost:3306/cloud?useSSL=false"
                        userId="root"
                        password="root"/>

        <!-- 默认为false, 把JDBC DECIMAL和NUMERIC类型解析为Integer类型; 设为true时, 把JDBC DECIMAL和NUMERIC类型解析为BigDecimal类型 -->
        <javaTypeResolver>
            <property name="forceBigDecimals" value="true"/>
        </javaTypeResolver>

        <!-- targetPackage: 生成PO类的位置 -->
        <javaModelGenerator targetPackage="com.gavin.cloud.auth.pojo" targetProject="src/main/java">
            <!-- enableSubPackages: 是否让schema作为包的后缀 -->
            <property name="enableSubPackages" value="false"/>
            <!-- 从数据库返回的值被清理前后的空格 -->
            <property name="trimStrings" value="false"/>
            <!-- rootClass : 给生成的model添加一个父类 -->
            <!--<property name="rootClass" value="com.gavin.cloud.common.base.pojo.AbstractModel"/>-->
        </javaModelGenerator>

        <!-- targetPackage: 生成mapper映射文件的位置 -->
        <sqlMapGenerator targetPackage="com.gavin.cloud.auth.core.dao" targetProject="src/main/java">
            <!-- enableSubPackages: 是否让schema作为包的后缀 -->
            <property name="enableSubPackages" value="false"/>
        </sqlMapGenerator>

        <!-- targetPackage: 生成mapper接口的位置 -->
        <javaClientGenerator targetPackage="com.gavin.cloud.auth.core.dao" targetProject="src/main/java"
                             type="XMLMAPPER">
            <!-- enableSubPackages: 是否让schema作为包的后缀 -->
            <property name="enableSubPackages" value="false"/>
            <!-- rootInterface : 给生成的接口添加一个父类(标记接口) -->
            <!--<property name="rootInterface" value="com.gavin.cloud.common.core.mapper.CrudMapper"/>-->
        </javaClientGenerator>

        <!-- 指定数据库表 -->
        <!--
        <table tableName="table_name"
               domainObjectName="domainName"
               enableInsert="true"
               enableDeleteByPrimaryKey="true"
               enableSelectByPrimaryKey="true"
               enableUpdateByPrimaryKey="true"
               enableCountByExample="true"
               enableSelectByExample="true"
               enableUpdateByExample="true"
               enableDeleteByExample="true"
               selectByExampleQueryId="true">
            <generatedKey column="id" sqlStatement="MySql" identity="true"/>
            <ignoreColumn column="id"/>
            <columnOverride column="id" property="uid"/>
        </table>
        -->
        <table tableName="sys_auth_token" domainObjectName="AuthToken"/>
    </context>

</generatorConfiguration>
